VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_ENDPOINT=
VITE_DATABASE_ID=
VITE_STORAGE_ID=
VITE_POST_COLLECTION_ID=
VITE_STAFFEL_COLLECTION_ID=
VITE_EVENT_COLLECTION_ID=
VITE_PRODUCE_COLLECTION_ID=
VITE_ORDER_COLLECTION_ID=
VITE_ORDER_FUNCTION_ID=
VITE_MEMBERSHIP_FUNCTION_ID=
VITE_PAYMENT_VERIFY_FUNCTION_ID=
VITE_ADD_PRODUKT_FUNCTION_ID=
VITE_ADD_ANGEBOT_FUNCTION_ID=
VITE_MEMBERSHIP_COLLECTION_ID=
VITE_PAYMENT_COLLECTION_ID=

APPWRITE_API_KEY=

# [appwrite-functions]
# Shared local function settings.
APPWRITE_FUNCTION_DEBUG=1

# [addProdukt]
APPWRITE_FUNCTION_DATABASE_ID=670bac4800336c5e29b5
APPWRITE_FUNCTION_PRODUCE_COLLECTION_ID=670bac8900319dfcc4e4

# [addAngebot]
APPWRITE_FUNCTION_DATABASE_ID=670bac4800336c5e29b5
APPWRITE_FUNCTION_STAFFEL_COLLECTION_ID=677d223d000492d2e618
APPWRITE_FUNCTION_PRODUCE_COLLECTION_ID=670bac8900319dfcc4e4

# [createMembership]
APPWRITE_FUNCTION_DATABASE_ID=670bac4800336c5e29b5

# [verifyPayment]
APPWRITE_FUNCTION_DATABASE_ID=670bac4800336c5e29b5
APPWRITE_FUNCTION_PAYMENT_COLLECTION_ID=zahlungen
APPWRITE_FUNCTION_MEMBERSHIP_COLLECTION_ID=mitgliedschaft

# [placeOrder]
DB_ID=670bac4800336c5e29b5
COLL_ANGEBOTE=677d223d000492d2e618
COLL_BESTELLUNG=670bac7d001cf8f8df62
COLL_MITGLIEDSCHAFT=mitgliedschaft
COLL_PRODUKTE=670bac8900319dfcc4e4
COLL_NOTIFICATIONS=nachrichten
ADMIN_EMAIL=

# [syncAVP]
NEXTCLOUD_CSV_URL=
