VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_ENDPOINT=
VITE_DATABASE_ID=
VITE_STORAGE_ID=
VITE_POST_COLLECTION_ID=
VITE_STAFFEL_COLLECTION_ID=
VITE_EVENT_COLLECTION_ID=
VITE_PRODUCE_COLLECTION_ID=
VITE_ORDER_COLLECTION_ID=
VITE_ORDER_FUNCTION_ID=
VITE_MEMBERSHIP_FUNCTION_ID=
VITE_PAYMENT_VERIFY_FUNCTION_ID=
VITE_ADD_PRODUKT_FUNCTION_ID=
VITE_ADD_ANGEBOT_FUNCTION_ID=
VITE_MEMBERSHIP_COLLECTION_ID=
VITE_PAYMENT_COLLECTION_ID=
